@import url("https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Kaushan+Script&family=Permanent+Marker&display=swap');


body {
  align-items: center;
  background-color: black;
  justify-content: center;
  text-align: center;
}

h1,
h2 {
  color: yellow;
  font-family: 'Great Vibes', cursive;
  font-size: 20px;
  padding: 5px;
  text-align: center;
}

h3 {
  color: green;
  font-family: 'Sacramento', cursive;
  font-size: 30px;
  text-align: center;
}

h4 {
  color: orange;
  font-family: 'Bungee Spice', cursive;
  font-size: 15px;
  margin: 0%;
  text-align: center;
  text-decoration: underline;
}

h5,
h7 {
  color: blue;
  font-family: 'Kaushan Script', cursive;
  font-size: 18px;
  text-align: center;
}

h6 {
  color: white;
  font-family: 'Sacramento', cursive;
  font-size: 25px;
  margin: 0%;
  text-align: center;
}

.imagem {
  background-color: maroon;
  border-radius: 120px;
  height: 220px;
  margin: 2%;
  padding: 5px;
  width: 220px;
}


#img {
  align-items: center;
  background-color: gold;
  border: 2px solid gold;
}
